fastapi>=0.135.1
uvicorn[standard]>=0.34.0
python-multipart>=0.0.20
pydantic[email]>=2.10.0
sqlalchemy>=2.0.38
psycopg2-binary>=2.9.10
python-dotenv>=1.0.1
python-jose>=3.3.0
cryptography>=3.4.0
passlib[bcrypt]>=1.7.4
bcrypt==4.0.1
redis>=5.2.0
pydicom>=3.0.0
qrcode>=8.0.0
matplotlib>=3.9.0
